@font-face {
  font-family: "Gotham Pro";
  src: url("../Font.tff") format("tff");
}
body {
  font-family: "Gotham Pro", sans-serif;
}

.wrapper {
  overflow: hidden;
}

.banner-blue {
  width: 100%;
  background-color: rgb(38, 103, 178);
  text-align: center;
  position: fixed;
  color: #ffffff;
  z-index: 3;
}
.banner-blue.active {
  display: none;
}

.banner-blue__cross {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 32px;
}

.cross {
  width: 14px;
  height: 14px;
  background: url("../img/cross.svg") center no-repeat;
}

.container {
  width: 1485px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 62px;
}

.icon-logo {
  background: url("../img/Logo.svg") center no-repeat;
  width: 236px;
  height: 38px;
}

.nav__phone {
  display: flex;
  align-items: center;
  color: black;
  font-size: 14px;
  width: 22.6%;
  justify-content: space-between;
  margin-right: 25px;
  padding-top: 10px;
}

.nav__phone-city {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 15px;
  z-index: 2;
}

.nav__phone-city::after {
  content: "";
  background: url("../img/arrow__down.svg") center no-repeat;
  width: 9px;
  height: 5px;
  display: inline-block;
  margin-left: 5px;
}

.nav__phone-city:hover .city-menu,
.city-menu {
  display: flex;
  border: solid black;
}

.city-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: -10px;
  border: transparent 1px;
  padding: 0px 10px 0px;
  left: -10px;
  width: 60px;
  border-radius: 5px;
  background-color: #ffffff;
}

.city__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  margin-top: 5px;
}

.city__item:hover {
  background-color: rgb(184, 184, 184);
}

.phone {
  text-decoration: none;
}

.phone-callback {
  font-size: 12px;
  color: rgb(38, 103, 178);
  text-decoration: none;
}

.nav__menu-merchandise {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  padding-top: 10px;
  width: 41%;
}
.nav__menu-merchandise a {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.bom {
  display: flex;
  align-items: center;
}

.bom::before {
  content: "";
  width: 14px;
  height: 17px;
  background: url("../img/bom.svg") center no-repeat;
  display: inline-block;
  margin-right: 10px;
}

.header__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.merchandise__button {
  width: 196px;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 15px 15px 13px 15px;
  outline: 2px solid rgb(38, 103, 178);
  color: rgb(38, 103, 178);
  font-size: 16px;
  font-weight: 400;
  line-height: 15.31px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

.merchandise__button-mob {
  display: none;
}

.merchandise__menu {
  width: 12px;
  height: 12px;
  background: url("../img/menu__blue.svg") center no-repeat;
  margin-right: 12px;
}

.serch {
  outline: #E2E2E2;
  color: rgb(93, 93, 98);
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.serch::-moz-placeholder {
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.serch::placeholder {
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.serch-mob {
  background: url("../img/search.svg");
  width: 16px;
  height: 16px;
  display: none;
}

.serch-sigh {
  background: url("../img/search.svg") center no-repeat;
  width: 16px;
  height: 16px;
  margin-left: -30px;
  margin-top: 15px;
}

.serch-box {
  width: 49%;
  display: flex;
  margin-left: 90px;
}

.merchandise__menu-mob {
  background: url("../img/menu-gray.svg") center no-repeat;
  width: 16px;
  height: 13px;
  border: none;
  display: none;
  margin-left: 5px;
}

.header__search-mob {
  display: none;
}

.header__search {
  width: 100%;
  border: 1px solid #E2E2E2;
}

input::-moz-placeholder {
  margin-left: 20px;
}

input::placeholder {
  margin-left: 20px;
}

.nav__menu-self {
  display: flex;
  justify-content: space-between;
  color: rgb(93, 93, 98);
  font-size: 12px;
  width: 20%;
}
.nav__menu-self a {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.self__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: space-between;
}

.note-1 {
  background: url("../img/note-1.svg");
  position: absolute;
  width: 14px;
  height: 14px;
  margin-left: 20px;
  margin-top: -5px;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.note-1.active {
  display: flex;
}

.note-2 {
  background: url("../img/note-2.svg");
  position: absolute;
  width: 20px;
  height: 14px;
  margin-left: 20px;
  margin-top: -5px;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.note-2.active {
  display: flex;
}

.self__img {
  position: relative;
}

.log-in {
  background: url("../img/User.svg") center no-repeat;
  width: 20px;
  height: 22px;
  background-size: contain;
}

.self__text {
  height: auto;
}

.compare {
  background: url("../img/compare-mob.svg") center no-repeat;
  width: 31px;
  height: 26px;
  background-size: contain;
}

.favorites {
  background: url("../img/favorite.svg") center no-repeat;
  width: 15px;
  height: 20px;
  background-size: contain;
}

.cart {
  background: url("../img/cart.svg") center no-repeat;
  width: 22px;
  height: 23px;
  margin-bottom: -10px;
  background-size: contain;
}

@media (max-width: 1440px) {
  .container {
    width: 1110px;
  }
  .discount {
    width: 1110px;
  }
  .container {
    width: 77%;
  }
  .nav__menu-merchandise {
    width: 50%;
  }
  .nav__menu-self {
    width: 29.5%;
  }
}
@media (max-width: 1200px) {
  .nav__phone {
    display: none;
  }
  .nav__menu-merchandise {
    width: 60%;
  }
}
@media (max-width: 1020px) {
  .nav__menu-merchandis {
    display: none;
  }
  .nav__menu-merchandise {
    display: none;
  }
  .header__bottom {
    display: none;
  }
  .serch-mob {
    display: block;
  }
  .merchandise__menu-mob {
    display: block;
  }
  .container {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .header__search {
    width: 25%;
    margin-left: 18%;
  }
  .banner-blue {
    display: none;
  }
}
@media (max-width: 425px) {
  .icon-logo {
    width: 155px;
    height: 24px;
    background-size: contain;
  }
  .header__top {
    margin-top: 15px;
    margin-bottom: 0px;
  }
}
.main {
  margin-top: 50px;
}

.discount {
  background: url("../img/fall.png") center no-repeat;
  position: relative;
  margin-bottom: 60px;
}

.discount__button__box {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 75px;
  bottom: 35px;
  color: rgba(21, 21, 40, 0.4901960784);
  align-items: center;
  width: 130px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.discount__title {
  font-size: 57px;
  font-weight: 700;
  line-height: 77.03px;
  padding: 115px 0 125px 77px;
  text-transform: uppercase;
  letter-spacing: 1.9px;
  margin-bottom: 0px;
}
.discount__title span {
  background-color: #EA1F1F;
  color: #fff;
  border-radius: 12px;
  padding: 10px;
}

.discount__button-text {
  display: inline-block;
  width: 31px;
}

.button-left {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: url("../img/arrow__left-gray.svg") center no-repeat;
  border: none;
}

.button-left:hover {
  background: url("../img/arrow__left-blue2.svg") center no-repeat;
}

.button-right {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: url("../img/arrow__right-gray.svg") center no-repeat;
  border: none;
}

.button-right:hover {
  background: url("../img/arrow__right-blue2.svg") center no-repeat;
}

.electronic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.electronic__title {
  font-size: 30px;
  margin: 0;
  letter-spacing: 0.8px;
}

.electronic__catalogue {
  font-size: 14px;
  margin: 0;
  color: #2667B2;
  text-decoration: none;
  letter-spacing: 1.2px;
}

.electronic__catalogue::after {
  content: "";
  background: url("../img/arrow__right-blue.svg") center no-repeat;
  margin-left: 12px;
  width: 20px;
  height: 7px;
  display: inline-block;
}

.electronic__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}

.electronic__item {
  box-shadow: 0px 8px 18px 0px rgba(21, 21, 40, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 19.5%;
  margin-top: 15px;
  margin-bottom: 10px;
}

.electronic__item:hover {
  color: #2667B2;
}

.electronic__img {
  width: 100px;
  height: 75px;
  margin: 20px 0 10px 0;
}

.semiconductor {
  background: url("../img/semi.png") center no-repeat;
}

.electronic__text {
  margin-bottom: 25px;
  font-size: 16px;
  text-align: center;
  max-width: 250px;
  margin-top: 10px;
}

.passive {
  background: url("../img/passive.png") center no-repeat;
}

.port {
  background: url("../img/port.png") center no-repeat;
}

.cable {
  background: url("../img/cable.png") center no-repeat;
}

.rale {
  background: url("../img/rale.png") center no-repeat;
}

.corpus {
  background: url("../img/corpus.png") center no-repeat;
}

.swich {
  background: url("../img/swich.png") center no-repeat;
}

.culler {
  background: url("../img/culler.png") center no-repeat;
}

.roboto {
  background: url("../img/roboto.png") center no-repeat;
}

.audio {
  background: url("../img/audio.png") center no-repeat;
}

.product {
  display: flex;
  position: relative;
}

.product__button-left {
  position: absolute;
  left: -15px;
  top: 180px;
}

.product__button-right {
  position: absolute;
  right: -15px;
  top: 180px;
}

.product__content {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.leaders__article {
  width: 16.5%;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.product__article-box {
  width: 22%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.recent__button__box {
  bottom: 55px;
  left: 35px;
}

.product__link {
  color: #2667B2;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.product__link::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 7px;
  background: url("../img/arrow__right-blue.svg") center no-repeat;
  margin-left: 10px;
}

.recent {
  padding-top: 120px;
}
.recent.page2 {
  padding-top: 130px;
}

.recent__article {
  font-size: 29px;
  width: 100%;
}

.product-article {
  font-size: 30px;
  font-weight: 400;
  line-height: 39px;
  margin-top: 55px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.product-box {
  padding: 30px 20px 41px 30px;
  width: 239px;
}

.product-img {
  width: 200px;
  height: 150px;
  background-size: contain;
  margin-bottom: 20px;
}

.product__flags {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0px;
  top: 0px;
}

.product-img__box {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.product-img__box:hover .product__flags {
  display: flex;
}

.product__favorite {
  background: url("../img/favorite.svg") center no-repeat;
  width: 13px;
  height: 18px;
  background-size: contain;
  border: none;
  position: relative;
}
.product__favorite.active {
  background: url("../img/favorite-active.svg") center no-repeat;
}

.product__favorite:hover .product__favorite-explain {
  display: block;
}

.product__compare {
  background: url("../img/compare__small.svg") center no-repeat;
  width: 14px;
  height: 17px;
  background-size: contain;
  border: none;
  margin-top: 17px;
}
.product__compare.active {
  background: url("../img/compare-active.svg") center no-repeat;
}

.product__compare:hover .product__compare-explain {
  display: block;
}

.product__favorite-explain {
  background: url("../img/explain.svg") center no-repeat;
  width: 205px;
  height: 43px;
  position: absolute;
  color: #EA1F1F;
  margin-top: -70px;
  margin-left: -180px;
  display: none;
}

.product__compare-explain {
  background: url("../img/explain.svg") center no-repeat;
  width: 205px;
  height: 43px;
  position: absolute;
  color: #EA1F1F;
  margin-top: -70px;
  margin-left: -180px;
  display: none;
}

.product__dots {
  display: flex;
  width: 50px;
  justify-content: space-between;
  margin: 5px 0px 0px 75px;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #DFDFE1;
}
.dot.active {
  background-color: #EA1F1F;
}

.product-firm {
  color: #919396;
  font-size: 14px;
  font-weight: 400;
  line-height: 13.4px;
  margin: 10px 0 7px;
}

.product-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 30px;
  max-width: 250px;
  margin-top: 5px;
}

.product-text:hover {
  color: #2667B2;
}

.product-price {
  margin-top: 0px;
  font-size: 21px;
  font-weight: 400;
  line-height: 20.1px;
}
.product-price span {
  color: #B3B3B7;
}

.product-price__box {
  display: flex;
}

.product-discount {
  font-size: 14px;
  font-weight: 400;
  line-height: 13.4px;
  margin-top: 0px;
}
.product-discount span {
  background-color: #EA1F1F;
  color: #fff;
  font-size: 12px;
}

.best {
  padding-top: 140px;
}

.best__article {
  margin-top: 45px;
}

.profit {
  padding-top: 55px;
}
.profit.page2 {
  padding-top: 130px;
}

.profit__article {
  max-width: 242px;
  margin-top: 50px;
}

.product__box-mob {
  width: 89%;
}

.brand__article {
  margin-top: 5px;
}

.news__article {
  margin-top: 45px;
}

.news {
  padding-top: 5px;
}

.news__link {
  margin-left: 30px;
  text-decoration: none;
  color: #2667B2;
}

.news__link::after {
  content: "";
  background: url("../img/arrow__right-blue.svg") center no-repeat;
  width: 20px;
  height: 7px;
  margin-left: 10px;
  display: inline-block;
}

.news__date {
  margin-bottom: 0px;
}

.news__article-product {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  height: 75px;
}

.news__text {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  margin-bottom: 0px;
}

.news__box {
  height: 223px;
  width: 270px;
  padding: 30px 0;
}

.news__content {
  align-items: normal;
}

.news__button {
  top: 135px;
}

.brand__box {
  width: 168px;
  padding: 0;
}

.brand__link {
  margin-left: 30px;
  text-decoration: none;
  color: #2667B2;
}

.brand__link::after {
  content: "";
  background: url("../img/arrow__right-blue.svg") center no-repeat;
  width: 20px;
  height: 7px;
  margin-left: 10px;
  display: inline-block;
}

.brand__button {
  top: 30px;
}

.brand__img {
  width: 168px;
  height: 92px;
}

.brand {
  padding-top: 50px;
}

.img-1 {
  background: url("../img/img-1.png") center no-repeat;
  background-size: contain;
}

.img-2 {
  background: url("../img/img-2.png") center no-repeat;
  background-size: contain;
}

.img-3 {
  background: url("../img/img-3.png") center no-repeat;
  background-size: contain;
}

.img-4 {
  background: url("../img/img-4.png") center no-repeat;
  background-size: contain;
}

.img-5 {
  background: url("../img/img-5.png") center no-repeat;
  background-size: contain;
}

.img-6 {
  background: url("../img/img-6.png") center no-repeat;
  background-size: contain;
}

.img-7 {
  background: url("../img/img-7.png") center no-repeat;
  background-size: contain;
}

.img-8 {
  background: url("../img/img-8.png") center no-repeat;
  background-size: contain;
}

.img-9 {
  background: url("../img/img-9.png") center no-repeat;
  background-size: contain;
}

.img-10 {
  background: url("../img/img-10.png") center no-repeat;
  background-size: contain;
}

.img-11 {
  background: url("../img/img-11.png") center no-repeat;
  background-size: contain;
}

.img-12 {
  background: url("../img/img-12.png") center no-repeat;
  background-size: contain;
}

.img-13 {
  background: url("../img/img-13.png") center no-repeat;
  background-size: contain;
}

.img-14 {
  background: url("../img/img-14.png") center no-repeat;
  background-size: contain;
}

.img-15 {
  background: url("../img/img-15.png") center no-repeat;
  background-size: contain;
}

.img-16 {
  background: url("../img/img-16.png") center no-repeat;
  background-size: contain;
}

.img-17 {
  background: url("../img/img-17.png") center no-repeat;
  background-size: contain;
}

.img-18 {
  background: url("../img/img-18.png") center no-repeat;
  background-size: contain;
}

.img-19 {
  background: url("../img/img-19.png") center no-repeat;
  background-size: contain;
}

.img-20 {
  background: url("../img/img-20.png") center no-repeat;
  background-size: contain;
}

.img-21 {
  background: url("../img/img-21.png") center no-repeat;
  background-size: contain;
}

.intro {
  padding-left: 60px;
  padding-top: 35px;
}

.intro__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 65px;
  letter-spacing: 0.8px;
}

.intro__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 1452px;
}

.intro__content-item {
  font-size: 30px;
  font-weight: 600;
  line-height: 44px;
}
.intro__content-item span {
  font-size: 60px;
}

.intro__button-box {
  display: flex;
  align-items: center;
  width: 190px;
  margin-bottom: 30px;
}

.intro__button-hide {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: #2667B2;
  padding: 0;
  border: none;
  border-bottom: 2px #2667B2 dotted;
  letter-spacing: 1px;
}
.intro__button-hide.arrow {
  margin-left: 10px;
  background: url("../img/arrow__top-blue2.svg") center no-repeat;
  width: 7px;
  height: 20px;
  border: none;
}
.intro__button-hide.open {
  display: none;
}

.intro__button-hide::after {
  content: "";
  display: inline-block;
}

.intro__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  margin-top: 35px;
}

.intro__button-more {
  width: 130px;
  padding: 6px 10px;
  border-radius: 7px;
  border: 2px solid #919396;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  margin-top: 10px;
}

.benefits {
  padding-top: 210px;
}
.benefits.benefits {
  padding-top: 200px;
}

.benefits__content {
  width: 1477px;
  display: flex;
  justify-content: space-between;
}

.line-vertical {
  width: 1px;
  height: 50px;
  background-color: #DFDFE1;
}

.benefits__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: auto;
}

.delivery-box {
  width: 175px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quality-box {
  width: 200px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.monofacturers-box {
  width: 145px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cooperation-box {
  width: 220px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-box {
  width: 195px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits-img {
  width: 74px;
  height: 74px;
}

.img-22 {
  background: url("../img/img-22.svg") center no-repeat;
  background-size: contain;
}

.benefits__text {
  text-align: center;
}

.img-23 {
  background: url("../img/img-23.svg") center no-repeat;
  background-size: contain;
}

.img-24 {
  background: url("../img/img-24.svg") center no-repeat;
  background-size: contain;
}

.img-25 {
  background: url("../img/img-25.svg") center no-repeat;
  background-size: contain;
}

.img-26 {
  background: url("../img/img-26.svg") center no-repeat;
  background-size: contain;
}

.product__link-mob {
  display: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  color: #2667B2;
  width: 15%;
}

.icon-logo-footer {
  width: 236px;
  height: 38px;
}

.incart {
  background: url("../img/incart__background.svg") center no-repeat;
  width: 305px;
  height: 255px;
  padding: 30px 30px 20px 20px;
  display: none;
  flex-wrap: wrap;
  position: absolute;
  right: 180px;
  top: 160px;
}
.incart.active {
  display: flex;
}

.incart__title {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.incart__img {
  background: url("../img/img-27.png") center no-repeat;
  width: 40px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 15px;
  margin-left: 10px;
}

.incart__text-bold {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 10px;
  margin-bottom: 0;
}

.incart-textbox {
  display: inline-block;
  width: 60%;
}

.incart__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.incart__text-pale {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 0;
}
.incart__text-pale span {
  font-size: 12px;
  font-weight: 400;
  line-height: 11.48px;
  color: #5D5D62;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #E2E2E2;
}

.incart__button {
  margin: 20px auto;
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EA1F1F;
  padding: 14px 81px;
}

.incart__button-img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.cart-plus {
  background: url("../img/cart-plus.svg") center no-repeat;
  width: 18px;
  height: 18px;
}

.incart__button-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: white;
}

.nav__path {
  margin-top: -15px;
  letter-spacing: 1.7px;
}

.breadcrumb {
  display: flex;
  padding-left: 0px;
}

.breadcrumb__gray {
  color: #5D5D62;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}

.shop__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
  margin-top: 50px;
}

.shop__product {
  display: flex;
  justify-content: space-between;
}

.shop__imgbox {
  position: relative;
  width: 32.7%;
}

.shop__imgbox:hover .product__flags {
  display: flex;
}

.shop__img-main {
  background: url("../img/img-29.png") center no-repeat;
  width: 100%;
  height: 363px;
  margin-bottom: 40px;
}

.imgline::before {
  content: "";
  background: url("../img/left.svg") center no-repeat;
  width: 5px;
  height: 8px;
  margin-right: 5px;
  display: inline-block;
}

.imgline {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgline::after {
  content: "";
  background: url("../img/right.svg") center no-repeat;
  width: 5px;
  height: 8px;
  margin-right: 5px;
  display: inline-block;
}

.shop__img-1 {
  background: url("../img/shop-1.png") center no-repeat;
}

.shop__img-2 {
  background: url("../img/shop-2.png") center no-repeat;
}

.shop__img-3 {
  background: url("../img/shop-3.png") center no-repeat;
}

.shop__img-4 {
  background: url("../img/shop-4.png") center no-repeat;
}

.shop__img-5 {
  background: url("../img/shop-5.png") center no-repeat;
}

.imgline__item {
  width: 80px;
  height: 60px;
}

.shop__data {
  width: 24.3%;
}

.presence {
  padding: 7px 0 7px 30px;
  border: solid 2px #479B30;
  margin-bottom: 15px;
}

.presence-all {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.presence-all span {
  color: #479B30;
}

.presence-all::before {
  content: "";
  background: url("../img/tick.svg") center no-repeat;
  width: 14px;
  height: 10px;
  margin-right: 10px;
  display: inline-block;
}

.presence-here {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.presence-here span {
  color: #479B30;
}

.presence-here::before {
  content: "";
  background: url("../img/tick.svg") center no-repeat;
  width: 14px;
  height: 10px;
  margin-right: 10px;
  display: inline-block;
}

.amount {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #2c2c2c;
}

.pricing-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #2c2c2c;
}

.table-row {
  display: contents; /* This allows rows to adapt as grid items */
}

.table-header {
  font-weight: bold;
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.table-header.right {
  text-align: center;
}

.table-cell {
  padding-bottom: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  margin-left: 25px;
}
.table-cell.bold {
  text-align: center;
  margin-left: -15px;
}

.bold {
  font-weight: bold;
}

.highlighted {
  background-color: #e8f1fc;
}

.to-cart__input-box {
  border: 1px solid #DDE0E3;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.to-cart__input {
  width: 100px;
}

.incart__button.to-cart {
  width: 52.8%;
  padding: 14px 30px 13px 50px;
  margin: 0;
}

.to-cart__buy {
  display: flex;
  justify-content: space-between;
}

.to-cart-plus {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.to-cart-minus {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.plus {
  width: 10px;
  height: 10px;
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
          clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  transform: rotate(45deg);
  background-color: #2667B2;
}

.minus {
  width: 10px;
  height: 2px;
  background-color: #2667B2;
}

.to-cart__text-delivery::before {
  content: "";
  width: 22px;
  height: 13px;
  background: url("../img/truck.svg") center no-repeat;
  margin-right: 10px;
  display: inline-block;
}

.to-cart__text-kashback {
  color: #2667B2;
}

.to-cart__text-kashback::before {
  content: "";
  background: url("../img/tm.svg") center no-repeat;
  margin-right: 10px;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.shop__conditions {
  width: 24.3%;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.shop__conditions-title {
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 0px;
}

.shop__conditions-text {
  margin-bottom: 5px;
  margin-top: 7px;
}

.shop__conditions-line {
  margin-top: 27px;
}

.articule {
  margin-top: 15px;
}

.articule__title {
  font-weight: 600;
  margin-bottom: 6px;
}

.articule__text {
  margin-top: 5px;
}

.monofacturer {
  margin-top: 15px;
}

.monofacturer__title {
  font-weight: 600;
  margin-bottom: 6px;
  color: #2667B2;
  width: 100%;
  margin-top: 5px;
}

.technical {
  margin-top: 0px;
  margin-bottom: 6px;
  display: flex;
  flex-wrap: wrap;
}

.technical__title {
  font-weight: 600;
  margin-top: 21px;
  margin-bottom: 10px;
  width: 100%;
}

.technical__img {
  background: url("../img/pdf.svg") center no-repeat;
  width: 20px;
  height: 20px;
  margin: 10px 20px 0 15px;
}

.technical__text {
  margin-top: 5px;
  width: 40%;
}
.technical__text span {
  color: #919396;
}

.technical__link {
  width: 90%;
  text-decoration: none;
  color: #2667B2;
  display: flex;
  align-items: center;
}

.technical__link::after {
  content: "";
  background: url("../img/arrow__down-blue.svg");
  width: 7px;
  height: 12px;
  display: inline-block;
  margin-left: 10px;
}

.freedelivery {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  width: 360px;
  height: 120px;
  background: url("../img/freedelivery-back.svg") center no-repeat;
  top: 900px;
  right: 100px;
  padding: 22px 90px 10px 25px;
  display: none;
}
.freedelivery.active {
  display: block;
}

.freedelivery__title {
  font-weight: 600;
}

.freedelivery__link {
  text-decoration: none;
  color: #2667B2;
}

.freedelivery__link::after {
  content: "";
  background: url("../img/arrow__right-blue.svg") center no-repeat;
  width: 20px;
  height: 7px;
  display: inline-block;
}

.inform {
  display: flex;
  width: 58%;
  margin-top: 55px;
}

.inform__img {
  background: url("../img/inform.svg") center no-repeat;
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.inform__text-box {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
}

.inform__text {
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 7px;
}
.inform__text span {
  font-weight: 600;
}

.inform__cards {
  background: url("../img/cards.svg") center no-repeat;
  width: 102px;
  height: 15px;
}

.parameters {
  margin-top: 90px;
}

.parameters__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.parameters__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.parameters__box {
  width: 66%;
  margin-top: 50px;
}

.parameters__list {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: #E2E2E2;
}

.parameters__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #5D5D62;
  margin-bottom: 18px;
  margin-top: 0px;
}

.parameters__value {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #2c2c2c;
  margin: 0;
}

/* Style for the checkbox container */
.checkbox-container {
  display: inline-block;
  position: relative;
  margin-left: 30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Hide the default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Custom checkmark */
.checkmark {
  position: absolute;
  top: 0;
  left: -15px;
  height: 20px;
  width: 20px;
  background-color: #f5f5f5; /* Light gray */
  border: 2px solid #ddd;
  border-radius: 6px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #fff;
  border-color: #ddd;
}

/* The checkmark (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Checkmark style */
.checkbox-container .checkmark:after {
  width: 11px;
  height: 9px;
  background: url("../img/tick__blue.svg") center no-repeat;
  right: 5px;
  top: 5px;
}

.product__dots-main {
  width: 50px;
  justify-content: space-between;
  display: none;
  margin: 0 auto;
  margin-bottom: 40px;
}

.parameters__value-box {
  display: flex;
}

.select {
  background: url("../img/select-back.svg") center no-repeat;
  width: 178px;
  height: 90px;
  position: absolute;
  display: none;
  right: -220px;
  top: -35px;
}
.select.active {
  display: block;
}

.select__button {
  width: 130px;
  height: 35px;
  border-radius: 6px;
  padding: 6px 27px;
  border: none;
  background-color: #2667B2;
  color: white;
}

.select__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
}
.select__text span {
  font-weight: 700;
}

.computers.single {
  width: 90.8%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.computers__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 30px;
  width: 100%;
}
.computers__title span {
  color: #B3B3B7;
}

.computers__item {
  display: flex;
  flex-wrap: wrap;
}

.computers__subtitle {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #2667B2;
}

.computers__img {
  width: 90px;
  height: 68px;
}
.computers__img.img-36 {
  background: url("../img/img-36.png") center no-repeat;
}
.computers__img.img-37 {
  background: url("../img/img-37.png") center no-repeat;
}
.computers__img.img-38 {
  background: url("../img/img-38.png") center no-repeat;
}

.computers__text-box {
  margin-left: 10px;
}

.computers__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  margin-top: 0px;
}
.computers__text span {
  color: #B3B3B7;
}

.computers__link {
  color: #2962FF;
  text-decoration: none;
}

.computers__link::after {
  content: "";
  background: url("../img/arrow__down-blue.svg") center no-repeat;
  width: 8px;
  height: 13px;
  display: inline-block;
  margin-left: 10px;
}

.productdata {
  display: flex;
  flex-wrap: wrap;
}

.productdata__item {
  width: 20%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 230px;
}

.productdata__item:hover {
  outline: #2962FF solid 1px;
}

.productdata__item:hover .productdata__button {
  display: block;
}

.productdata__box {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.productdata__list {
  display: flex;
  width: 100%;
}

.productdata-checkmark.checkmark {
  margin-top: 10px;
}

.productdata__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 0;
}
.productdata__title span {
  color: #5D5D62;
}

.productdata__button {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 16px;
  top: 22px;
  border: none;
  border-radius: 50%;
  display: none;
}

.cross__circle {
  background: url("../img/cross-circle.svg") center no-repeat;
}

.productdata__input {
  width: 64%;
  margin-left: 65px;
  border: none;
  border-bottom: #B3B3B7;
  background: transparent;
}

.productdata__search {
  background: url("../img/search.svg") center no-repeat;
  width: 14px;
  height: 14px;
  margin-left: -25px;
}

.productdata__input-box {
  display: flex;
}

@media (max-width: 1485px) {
  .shop__img-main {
    background-size: contain;
  }
  .incart__button.to-cart {
    padding: 14px 15px;
  }
  .cart-plus {
    display: none;
  }
}
@media (max-width: 1400px) {
  .product__box-mob {
    overflow-x: scroll;
  }
  .product__button {
    display: none;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
  .product__article-box {
    align-items: center;
    justify-content: space-between;
  }
  .discount__title {
    padding: 30px 0 260px;
    text-align: center;
    font-size: 37px;
    font-weight: 700;
    line-height: 47px;
  }
  .discount__button__box {
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%);
  }
  .electronic__item {
    width: 43%;
  }
  .electronic__box {
    justify-content: space-around;
  }
  .product-price__box {
    display: flex;
    flex-direction: column;
  }
  .product-discount {
    order: -1;
  }
  .product {
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-article {
    width: 100%;
  }
  .product__article-box {
    width: 100%;
  }
  .recent__button__box {
    display: none;
  }
  .product-img {
    width: 150px;
    height: 115px;
  }
  .product-box {
    width: 125px;
  }
  .shop__product {
    flex-wrap: wrap;
    justify-content: center;
  }
  .shop__data {
    margin-right: 30%;
  }
  .shop__imgbox {
    width: 100%;
    margin-bottom: 70px;
  }
  .imgline__item {
    background-size: contain;
  }
  .inform {
    width: 90%;
  }
  .nav__path {
    overflow-x: scroll;
  }
  .breadcrumb {
    white-space: pre;
  }
}
@media (max-width: 768px) {
  .discount {
    background: url("../img/fall-mob.png") center no-repeat;
    background-size: cover;
  }
  .electronic__img {
    width: 56px;
    height: 42px;
    margin: 18px 0 0 0;
    background-size: contain;
  }
  .electronic__text {
    font-size: 12px;
    margin: auto;
  }
  .electronic__box {
    margin-top: 25px;
  }
  .intro__title {
    font-size: 24px;
  }
  .intro__content {
    font-size: 24px;
    width: 1100px;
  }
  .electronic__item {
    margin-top: 0px;
  }
  .electronic__item {
    height: 95px;
  }
  .product__dots-main {
    display: flex;
  }
  .product-article {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
  }
  .br-mob {
    display: none;
  }
  .product__box-mob {
    width: 100%;
  }
  .electronic {
    margin-bottom: 35px;
  }
  .product__button-left {
    display: none;
  }
  .product__button-right {
    display: none;
  }
  .product-box {
    padding: 0;
    width: 175px;
  }
  .product-discount {
    margin: 0;
  }
  .product-price__box {
    margin: auto 0;
  }
  .product__content {
    width: 220%;
    justify-content: space-between;
  }
  .product-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1.2px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .product-box {
    height: 315px;
    display: flex;
    flex-direction: column;
  }
  .product__dots {
    display: none;
  }
  .product-img {
    margin: 20px 0 25px;
  }
  .product__box-mob {
    margin-top: 18px;
    overflow-y: hidden;
  }
  .product-firm {
    margin-top: 0px;
  }
  .product-price {
    margin: auto 0;
  }
  .product-article {
    width: 80%;
  }
  .product__link-mob {
    display: block;
  }
  .product__link {
    display: none;
  }
  .recent {
    padding-top: 135px;
  }
  .best {
    padding-top: 120px;
  }
  .brand__link {
    display: none;
  }
  .brand {
    padding-top: 80px;
  }
  .brand__content {
    margin-top: -35px;
  }
  .brand__box {
    margin-right: 40px;
    height: auto;
  }
  .news {
    padding-top: 20px;
  }
  .news__link {
    display: none;
  }
  .news__content {
    width: 360%;
  }
  .news__box {
    width: 22.2%;
    height: 226px;
  }
  .news__article-product {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .news__text {
    margin-top: auto;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 1.3px;
  }
  .intro {
    padding-left: 0;
    padding-top: 55px;
  }
  .intro__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    letter-spacing: 0.7px;
  }
  .intro__title {
    margin-bottom: 35px;
  }
  .intro__content-item {
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    letter-spacing: 2px;
  }
  .intro__content-item span {
    font-size: 44px;
  }
  .intro__text-bottom {
    margin-top: 5px;
    margin-left: 5px;
  }
  .intro__text-bottom .arrow {
    margin-left: 15px;
  }
  .intro__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    margin-top: 0px;
    letter-spacing: 0.8px;
  }
  .intro__button-more {
    margin-top: -10px;
  }
  .benefits {
    padding-top: 150px;
  }
  .benefits__content {
    width: 227%;
  }
  .benefits__box {
    width: 142px;
    height: 154px;
  }
  .benefits__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 1.2px;
  }
  .delivery-box {
    flex-shrink: 0;
    width: 142px;
    height: auto;
  }
  .quality-box {
    width: 142px;
    flex-shrink: 0;
    height: auto;
  }
  .monofacturers-box {
    width: 142px;
    flex-shrink: 0;
    height: auto;
  }
  .cooperation-box {
    width: 142px;
    flex-shrink: 0;
    height: auto;
  }
  .order-box {
    width: 142px;
    flex-shrink: 0;
    height: auto;
  }
  .img-23 {
    background-size: auto;
  }
  .img-24 {
    background-size: auto;
  }
  .img-25 {
    background-size: auto;
  }
  .img-26 {
    background-size: auto;
  }
  .footer {
    padding-top: 120px;
  }
  .icon-logo-footer {
    margin-top: 25px;
  }
  .feedback {
    margin-bottom: 45px;
  }
  .shop__img-main {
    margin-bottom: 20px;
  }
  .imgline {
    display: none;
  }
  .shop__data {
    width: 100%;
    margin: 0 auto;
  }
  .shop__conditions {
    width: 100%;
  }
  .inform__cards {
    display: none;
  }
  .parameters__list {
    flex-wrap: wrap;
  }
  .parameters__value-box {
    justify-content: space-between;
    width: 100%;
  }
  .parameters__text {
    width: 100%;
  }
  .checkbox-container {
    margin-top: -10px;
  }
  .breadcrumb {
    margin-top: 0px;
  }
  .shop__title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
  }
  .shop__img-main {
    margin-top: -30px;
  }
  .shop__imgbox:hover .product__flags {
    right: 10px;
    top: 30px;
  }
  .shop__imgbox {
    margin-top: -40px;
    margin-bottom: 0px;
  }
  .product__dots-main {
    margin-top: -55px;
  }
  .presence {
    margin-bottom: 10px;
  }
  .table-header.right {
    text-align: right;
  }
  .table-cell.bold {
    margin-left: 25px;
  }
  .shop__conditions {
    margin-top: 30px;
  }
  .articule__title {
    margin-top: 0px;
  }
  .articule {
    margin-top: 10px;
  }
}
@media (max-width: 425px) {
  .discount__title {
    padding: 0px 0 190px;
  }
  .discount {
    margin-bottom: 30px;
  }
  .main {
    margin-top: 45px;
  }
  .electronic__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    margin-bottom: 20px;
  }
  .electronic__title::after {
    margin-left: 30px;
  }
}
.footer {
  padding-top: 140px;
  position: relative;
}

.contacts {
  display: flex;
  justify-content: space-between;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  min-width: 140px;
}

.contacts__item-logo {
  width: 19%;
}

.icon-logo-footer {
  margin-bottom: 40px;
}

.contacts__text-bold {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 70%;
}

.feedback {
  display: flex;
  margin-top: 25px;
}

.stars {
  display: flex;
  width: 86px;
  justify-content: space-between;
}

.star {
  width: 14px;
  height: 14px;
  background: url("../img/star.svg") center no-repeat;
}

.feedback__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  margin-left: 10px;
}

.contacts__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  margin-bottom: 15px;
}

.contacts__text-mob {
  display: none;
}

.contacts__cit {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  margin-top: 0px;
}

.contacts__item-phone {
  width: 19%;
}

.footer__text {
  display: flex;
  justify-content: space-between;
  width: 38%;
}
.footer__text .contacts__item {
  text-align: right;
}

.contacts__email {
  font-size: 16px;
  font-weight: 400;
  line-height: 15.31px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

.contacts__phone {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
}

.pay {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 110px;
}

.pay__text {
  font-family: Gotham Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  width: 70%;
}
.pay__text span {
  font-family: Gotham Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.visa {
  background: url("../img/visa.png") center no-repeat;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 18.5%;
}

.card__img {
  width: 52.5px;
  height: 30px;
}

.mastercard {
  background: url("../img/mastercard.png") center no-repeat;
}

.mir {
  background: url("../img/mir.png") center no-repeat;
}

.sbp {
  background: url("../img/spb.png") center no-repeat;
}

.coockie {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.coockie__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  color: #5D5D62;
  text-align: center;
  letter-spacing: 2px;
}

.coockie__link {
  color: #1565C0;
  text-decoration: none;
  margin-left: 5px;
}

.coockie__button {
  margin-left: 5px;
}

.banner-mob {
  display: none;
  position: relative;
}

.banner-mob__compare {
  width: 16px;
  height: 20px;
  background: url("../img/compare-mob.svg") center no-repeat;
}

.banner-mob__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  color: #5D5D62;
}

.banner-mob__text::after {
  content: "";
  background: url("../img/arrow__right-gray2.svg") center no-repeat;
  width: 16px;
  height: 7px;
  display: inline-block;
  margin-left: 15px;
}

.cross-mob {
  position: absolute;
  right: 20px;
  bottom: 10px;
  background: url("../img/cross-black.svg") center no-repeat;
  border: none;
}

.banner-mob__box {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.nav__menu-self-mob {
  display: none;
  padding: 10px 0px;
}

.home-mob {
  background: url("../img/home.svg") center no-repeat;
  background-size: contain;
  width: 24px;
  height: 22px;
}

.serch-mob-footer {
  background: url("../img/catalogue.svg") center no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

.cart-mob {
  background-size: contain;
  width: 22px;
  height: 22px;
  background: url("../img/cart.svg") center no-repeat;
}

.favorites-mob {
  background-size: contain;
  width: 16px;
  height: 22px;
}

.profile-mob {
  width: 19px;
  height: 22px;
}

.banner-mob {
  position: absolute;
  bottom: 60px;
  left: 20px;
}

@media (max-width: 1400px) {
  .product__box-mob {
    overflow-x: scroll;
  }
}
@media (max-width: 1024px) {
  .contacts {
    flex-wrap: wrap;
  }
  .contacts__item-logo {
    width: 100%;
  }
  .contacts__item-mob {
    display: none;
  }
  .contacts__text-mob {
    display: flex;
  }
  .nav__menu-self-mob {
    display: flex;
    justify-content: space-between;
    width: 85%;
  }
}
@media (max-width: 768px) {
  .contacts__item-phone {
    text-align: left;
  }
  .contacts__text {
    max-width: 285px;
  }
  .card {
    width: 100%;
    order: -1;
    max-width: 350px;
  }
  .pay__text {
    width: 100%;
    max-width: 350px;
  }
  .banner-mob {
    display: flex;
  }
  .coockie {
    display: none;
  }
  .footer {
    padding-top: 90px;
  }
  .icon-logo-footer {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .feedback {
    margin-bottom: 45px;
  }
  .footer__text .contacts__item {
    text-align: left;
  }
  .footer__text {
    width: 100%;
    margin-bottom: 30px;
  }
  .contacts__item-phone {
    width: 100%;
  }
  .pay {
    padding: 75px 0 120px;
  }
  .card {
    margin-bottom: 30px;
  }
  .pay__text {
    letter-spacing: 1.2px;
  }
  .banner-mob__box {
    width: 80%;
    justify-content: left;
  }
  .banner-mob__text {
    margin-left: 10px;
    letter-spacing: 1.1px;
  }
  .banner-mob__text::after {
    margin-left: 5px;
  }
  .cross-mob {
    right: 0;
    bottom: 3px;
  }
}/*# sourceMappingURL=styles.css.map */