.container {
}
.main{
    margin-top: 50px;
}
.discount__button__box {
position: absolute;
display: flex;
justify-content: space-between;
left: 75px;
bottom: 35px;
color: #1515287d;
align-items: center;
width: 130px;
font-size: 14px;
font-weight: 400;
line-height: 18px;

}
.discount__title {
    font-size: 57px;
    font-weight: 700;
    line-height: 77.03px;
padding: 115px 0 125px 77px;
text-transform:uppercase;
letter-spacing: 1.9px;
margin-bottom: 0px;
.read{
    background-color:#EA1F1F ;
    color: #fff;
    border-radius: 12px;
    padding: 10px;
}
span{
   color: #EA1F1F;
}
}

.title {

}
.discount__button-left {

}
.discount__button-text {
display: inline-block;
width: 31px;
}
.discount__button-right {

}
.button-left{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: url("../img/arrow__left-gray.svg") center no-repeat;
    border: none;
}
.button-left:hover{
    background: url("../img/arrow__left-blue2.svg") center no-repeat;
}
.button-right{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: url("../img/arrow__right-gray.svg") center no-repeat;
    border: none;
}
.button-right:hover{
    background: url("../img/arrow__right-blue2.svg") center no-repeat;
}
.discount {
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
}
.discount__scroll {
width: 400%;
display: flex;
position: relative;
transition: 0.3s;
}
.discount__scroll-item {
    width: 25%;
}
.discount__scroll-item-1{
    background: url("../img/fall.png") center no-repeat;
    background-size: cover;
}
.discount__scroll-item-2{
    background: url("../img/fall-2.svg") center no-repeat;
    background-size: cover;
}
.discount__scroll-item-3{
    background: url("../img/summer.svg") center no-repeat;
    background-size: cover;
}
.discount__scroll-item-4{
    background: url("../img/may.svg") center no-repeat;
    background-size: cover;
}
.discount__text {
font-size: 36px;
font-weight: 400;
line-height: 34.45px;
margin-top: -100px;
margin-left: 80px;
}
.read {
background-color: transparent;

}
.electronic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}
.electronic__title {
font-size: 30px;
margin: 0;
letter-spacing: 0.8px;
}
.electronic__catalogue {
font-size: 14px;
margin: 0;
color: #2667B2;
text-decoration: none;
letter-spacing: 1.2px;
}
.electronic__catalogue::after{
    content: "";
    background: url("../img/arrow__right-blue.svg") center no-repeat;
    margin-left: 12px;
    width: 20px;
    height: 7px;
    display: inline-block;
}
.electronic__box {
width: 100%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 15px;
}
.electronic__item {
    box-shadow: 0px 8px 18px 0px rgba(21, 21, 40, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 19.5%;
    margin-top: 15px;
    margin-bottom: 10px;
}
.electronic__item:hover{
    color: #2667B2;
} 
.electronic__img {
width: 100px;
height: 75px;
margin: 20px 0 10px 0;
}
.semiconductor {
    background: url("../img/semi.png") center no-repeat;
}
.electronic__text {
    margin-bottom: 25px;
    font-size: 16px;
    text-align: center;
    max-width: 250px;
    margin-top: 10px;
}
.passive {
background: url("../img/passive.png") center no-repeat;

}
.port {
    background: url("../img/port.png") center no-repeat;

}
.cable {
    background: url("../img/cable.png") center no-repeat;

}
.rale {
    background: url("../img/rale.png") center no-repeat;

}
.corpus {
background: url("../img/corpus.png") center no-repeat;

}
.swich {
    background: url("../img/swich.png") center no-repeat;

}
.culler {
    background: url("../img/culler.png") center no-repeat;

}
.roboto {
    background: url("../img/roboto.png") center no-repeat;

}
.audio {
    background: url("../img/audio.png") center no-repeat;

}
.leaders {
   
}
.product{
    display: flex;
    position: relative;
}
.product__button-left{
    position: absolute;
left: -15px;
    top: 180px;
}
.product__button-right{
    position: absolute;
    right: -15px;
    top: 180px;
}
.leaders__content{
   
}
.product__content{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
}
.leaders__article {
width: 16.5%;
margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.product__article-box{
    width: 22%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.recent__button__box{
    bottom: 55px;
    left: 35px;
}
.product__link{
    color: #2667B2;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.product__link::after{
    content: "";
display: inline-block;
    width: 20px;
    height: 7px;
    background: url("../img/arrow__right-blue.svg") center no-repeat;
    margin-left: 10px;
}
.recent{
    padding-top: 120px;
    &.page2{
        padding-top: 130px;
    }
}
.recent__article{
    font-size: 29px;
    width: 100%;
}
.product-article {
    font-size: 30px;
font-weight: 400;
line-height: 39px;
margin-top: 55px;
margin-left: 30px;
margin-bottom: 10px;
}
.button-right {
}
.leaders__button{
}
.leaders__box {

}
.product-box {
padding: 30px 20px 41px 30px;
width: 239px;
}
.product-img {
    width: 200px;
    height: 150px;
    background-size: contain;
    margin-bottom: 20px;
}

.product__flags {
display: none;
flex-direction: column;
position: absolute;
right: 0px;
top: 0px;
}
.product-img__box {
    display: flex;
    justify-content: space-between;
position: relative;
}
.product-img__box:hover .product__flags{
    display: flex;
}
.product__favorite {
background: url("../img/favorite.svg") center no-repeat;
width: 13px;
height: 18px;
background-size: contain;
border: none;
position: relative;
&.active{
    background: url("../img/favorite-active.svg") center no-repeat;
}
}
.product__favorite:hover .product__favorite-explain{
display: block;
}
.product__compare {
    background: url("../img/compare__small.svg") center no-repeat;
width: 14px;
height: 17px;
background-size: contain;
border: none;
margin-top: 17px;
&.active{
    background: url("../img/compare-active.svg") center no-repeat;
}
}
.product__compare:hover .product__compare-explain {
display: block;
}
.product__favorite-explain {
background: url("../img/explain.svg") center no-repeat;
width: 205px;
height: 43px;
position: absolute;
color: #EA1F1F;
margin-top: -70px;
    margin-left: -180px;
    display: none;
}
.product__compare-explain {
    background: url("../img/explain.svg") center no-repeat;
    width: 205px;
    height: 43px;
    position: absolute;
    color: #EA1F1F;
    margin-top: -70px;
        margin-left: -180px;
        display: none;
}
.product__dots {
    display: flex;
width: 50px;
justify-content: space-between;
margin: 5px 0px 0px 75px;
}
.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
background-color: #DFDFE1;
&.active{
    background-color: #EA1F1F;
}
}
.product-firm {
    color: #919396;
font-size: 14px;
font-weight: 400;
line-height: 13.4px;
margin: 10px 0 7px;
}
.product-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 30px;
    max-width: 250px;
    margin-top: 5px;
}
.product-text-link{
    text-decoration: none;
    color: black;
}
.product-text:hover{
color: #2667B2;
    }
.product-price {
margin-top: 0px;
font-size: 21px;
font-weight: 400;
line-height: 20.1px;
    span{
color: #B3B3B7;

    }
}
.product-price__box{
display: flex;
}
.product-discount {
font-size: 14px;
font-weight: 400;
line-height: 13.4px;
margin-top: 0px;
span{
    background-color: #EA1F1F;
    color: #fff;
    font-size: 12px;
}
}
.best{
    padding-top: 140px;
}
.best__article{
    margin-top: 45px;
}
.profit{
    padding-top: 55px;
    &.page2{
        padding-top: 130px;
    }
}
.profit__article{
    max-width: 242px;
    margin-top: 50px;
} 
.product__box-mob{
    width: 89%;
    &.monoplate{
width: 100%;
    }
}
.brand__article{
margin-top: 5px;
}
.news__article{
margin-top: 45px;
} 
.news {
    padding-top: 5px;
}
.news__link{
    margin-left: 30px;
    text-decoration: none;
    color: #2667B2;
}
.news__link::after{
    content: "";
    background: url("../img/arrow__right-blue.svg") center no-repeat;
    width: 20px;
    height: 7px;
    margin-left: 10px;
    display: inline-block;
}
.news__date{
    margin-bottom: 0px;
}
.news__article-product{
    margin-top: 10px;
    margin-bottom: 0px;
font-size: 18px;
font-weight: 400;
line-height: 25.2px;
height: 75px;
}
.news__text{
    margin-top: 10px;
font-size: 14px;
font-weight: 400;
line-height: 22.4px;
margin-bottom: 0px;
}
.news__box{
    height: 223px;
    width: 270px;
    padding: 30px 0;
} 
.news__content{
    align-items: normal;
}
.news__button{
    top: 135px;
}
.brand__box{
    width: 168px;
    padding: 0;
}
.brand__link{
    margin-left: 30px;
    text-decoration: none;
    color: #2667B2;
}
.brand__link::after{
    content: "";
    background: url("../img/arrow__right-blue.svg") center no-repeat;
    width: 20px;
    height: 7px;
    margin-left: 10px;
    display: inline-block;
}
.brand__button{
    top: 30px;
}
.brand__img{
    width: 168px;
    height: 92px;
}
.brand {
    padding-top: 50px;
}
.img-1 {
    background: url("../img/img-1.png") center no-repeat;
    background-size: contain;
}
.img-2 {
    background: url("../img/img-2.png") center no-repeat;
    background-size: contain;

}

.img-3 {
    background: url("../img/img-3.png") center no-repeat;
    background-size: contain;

}
.img-4 {
    background: url("../img/img-4.png") center no-repeat;
    background-size: contain;

}
.img-5 {
    background: url("../img/img-5.png") center no-repeat;
    background-size: contain;
}
.img-6 {
    background: url("../img/img-6.png") center no-repeat;
    background-size: contain;

}

.img-7 {
    background: url("../img/img-7.png") center no-repeat;
    background-size: contain;

}
.img-8 {
    background: url("../img/img-8.png") center no-repeat;
    background-size: contain;

}
.img-9 {
    background: url("../img/img-9.png") center no-repeat;
    background-size: contain;

}
.img-10 {
    background: url("../img/img-10.png") center no-repeat;
    background-size: contain;

}
.img-11
 {
    background: url("../img/img-11.png") center no-repeat;
    background-size: contain;

}
.img-12 {
    background: url("../img/img-12.png") center no-repeat;
    background-size: contain;

}
.img-13 {
    background: url("../img/img-13.png") center no-repeat;
    background-size: contain;

}
.img-14 {
    background: url("../img/img-14.png") center no-repeat;
    background-size: contain;

}
.img-15 {
    background: url("../img/img-15.png") center no-repeat;
    background-size: contain;

}
.img-16 {
    background: url("../img/img-16.png") center no-repeat;
    background-size: contain;

}
.img-17 {
    background: url("../img/img-17.png") center no-repeat;
    background-size: contain;

}
.img-18 {
    background: url("../img/img-18.png") center no-repeat;
    background-size: contain;

}
.img-19 {
    background: url("../img/img-19.png") center no-repeat;
    background-size: contain;

}
.img-20 {
    background: url("../img/img-20.png") center no-repeat;
    background-size: contain;

}
.img-21 {
    background: url("../img/img-21.png") center no-repeat;
    background-size: contain;

}
.intro {
padding-left: 60px;
padding-top: 35px;
}
.intro__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 42px;
    margin-bottom: 65px;
    letter-spacing: 0.8px;
}
.intro__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:30px ;
    width: 1452px;
}
.intro__content-item {
    font-size: 30px;
    font-weight: 600;
    line-height: 44px;
    span{
        font-size: 60px;
    }
}
.intro__text-bottom{
}
.intro__button-box{
    display: flex;
    align-items: center;
    width: 190px;
    margin-bottom: 30px;
}
.intro__button-hide {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
color: #2667B2;
    padding: 0;
    border: none;
    border-bottom: 2px #2667B2 dotted;
    letter-spacing: 1px;
&.arrow{
    margin-left: 10px;
    background: url("../img/arrow__top-blue2.svg") center no-repeat;
    width: 7px;
    height: 20px;
    border: none;
}
&.open{
    display: none;
}
}

.intro__button-hide::after{
    content: "";
    display: inline-block;
    
}
.intro__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    margin-top: 35px;
}
.intro__button-more {
    width: 130px;
padding: 6px 10px;
border-radius: 7px;
border: 2px solid #919396;
font-size: 14px;
font-weight: 400;
line-height: 18.2px;
margin-top: 10px;

}
.benefits {
    padding-top: 210px;
    &.benefits{
        padding-top: 200px;
    }
}
.benefits__content {
width: 1477px;
display: flex;
justify-content: space-between;
}
.line-vertical{
    width: 1px;
    height: 50px;
    background-color: #DFDFE1;
}
.benefits__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: auto;
}
.delivery-box{
width: 175px;
height: 140px;
display: flex;
    flex-direction: column;
    align-items: center;
}
.quality-box{
    width: 200px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.monofacturers-box{
    width: 145px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cooperation-box{
    width: 220px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-box{
    width: 195px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefits-img{
    width: 74px;
    height: 74px;
}
.img-22 {
    background: url("../img/img-22.svg") center no-repeat;
    background-size: contain;
}
.benefits__text {
    text-align: center;
}
.img-23 {
    background: url("../img/img-23.svg") center no-repeat;
    background-size: contain;
}
.img-24 {
    background: url("../img/img-24.svg") center no-repeat;
    background-size: contain;
}
.img-25 {
    background: url("../img/img-25.svg") center no-repeat;
    background-size: contain;
}
.img-26 {
    background: url("../img/img-26.svg") center no-repeat;
    background-size: contain;
}
.product__link-mob{
    display: none;
    text-decoration: none;
font-size: 14px;
font-weight: 400;
line-height: 18.2px;
color: #2667B2;
width: 15%;
}
.icon-logo-footer{
    width: 236px;
    height: 38px;
}

.incart__title {
    width: 100%;
font-size: 14px;
font-weight: 400;
line-height: 18px;
margin-bottom: 5px;
margin-top: 20px;
}
.incart__img {
    background: url("../img/img-27.png") center no-repeat;
    width: 40px;
    height: 30px;
display: inline-block;
margin-right: 10px;
margin-top: 15px;
margin-left: 10px;
}
.incart__text-bold {
font-size: 12px;
font-weight: 400;
line-height: 18px;
margin-top: 10px;
    margin-bottom: 0;
}
.incart-textbox{
    display: inline-block;
    width: 60%;
}
.incart__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.incart__text-pale{
    font-size: 12px;
font-weight: 400;
line-height: 18px;
margin-top: 0;
span{
    font-size: 12px;
    font-weight: 400;
    line-height: 11.48px;
    color: #5D5D62;
}
}
.incart__line {
  
}
.line{
    height: 1px;
    width: 100%;
    background-color: #E2E2E2;
}
.incart__button {
margin: 20px auto;
border: none;
border-radius: 6px;
display: flex;
justify-content: center;
align-items: center;
background-color: #EA1F1F;
padding: 14px 81px;
}
.incart__button-img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.cart-plus{
background: url("../img/cart-plus.svg") center no-repeat;
width: 18px;
height: 18px;
}
.incart__button-text {
font-size: 16px;
font-weight: 400;
line-height: 18px;
color: white;
}
.nav__path {
margin-top: -15px;
letter-spacing: 1.7px;
}
.breadcrumb {
    display: flex;
    padding-left: 0px;
}
.breadcrumb__gray {
    color: #5D5D62;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;    
    text-decoration: none;
}
.shop {

}
.shop__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
    margin-top: 50px;
}
.shop__product {
    display: flex;
    justify-content: space-between;
    
}
.shop__imgbox {
position: relative;
width: 32.7%;
}
.shop__imgbox:hover .product__flags{
display: flex;
}
.shop__img-main {
background: url("../img/img-29.png") center no-repeat;
width: 100%;
height: 363px;
margin-bottom: 40px;
}
.product__flags {
&.shop__flags{
    
}
}
.product__favorite {

}
.product__favorite-explain {

}
.product__compare {

}
.product__compare-explain {

}
.imgline::before{
    content:"";
background: url("../img/left.svg") center no-repeat;
width: 5px;
height: 8px;
margin-right: 5px;
display: inline-block;
}
.imgline {
    width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
.imgline::after{
    content:"";
    background: url("../img/right.svg") center no-repeat;
    width: 5px;
    height: 8px;
    margin-right: 5px;
    display: inline-block;
}
.shop__img-1{
background: url("../img/shop-1.png") center no-repeat;
}
.shop__img-2{
    background: url("../img/shop-2.png") center no-repeat;   
    }
.shop__img-3{
    background: url("../img/shop-3.png") center no-repeat;   
    }
.shop__img-4{
    background: url("../img/shop-4.png") center no-repeat;   
    }
.shop__img-5{
    background: url("../img/shop-5.png") center no-repeat;   
    }
    
    
    
.imgline__item {
    width: 80px;
    height: 60px;
}
.shop__data {
width: 24.3%;
}
.presence {
padding: 7px 0 7px 30px;
border: solid 2px #479B30;
margin-bottom: 15px;
}
.presence-all {
font-size: 14px;
font-weight: 400;
line-height: 18px;
margin-top: 0px;
margin-bottom: 5px;
span{
    color: #479B30;
}
}
.presence-all::before{
    content: "";
    background: url("../img/tick.svg") center no-repeat;
    width: 14px;
    height: 10px;
    margin-right: 10px;
    display: inline-block;
}
.presence-here {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    span{
        color: #479B30;
    }
}
.presence-here::before{
    content: "";
    background: url("../img/tick.svg") center no-repeat;
    width: 14px;
    height: 10px;
    margin-right: 10px;
    display: inline-block;
}
.amount {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #2c2c2c;
}
.pricing-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #2c2c2c;
}

.table-row {
    display: contents; /* This allows rows to adapt as grid items */
}

.table-header {
    font-weight: bold;
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
&.right{
    text-align: center;
}
}

.table-cell {
    padding-bottom: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    margin-left: 25px;
    &.bold{
        text-align: center;
        margin-left: -15px;
    }
}

.bold {
    font-weight: bold;
}

.highlighted {
    background-color: #e8f1fc;
}
.to-cart {

}
.to-cart__text {

}
.to-cart__input-box {
border: 1px solid #DDE0E3;
border-radius: 6px;
display: flex;
align-items: center;
}
.to-cart__input {
width: 100px;
}
.incart__button {
    &.to-cart{
        width: 52.8%;
        padding: 14px 30px 13px 50px;
        margin: 0;
    }
}
.to-cart__buy{
    display: flex;
    justify-content: space-between;
}
.to-cart-plus{
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.to-cart-minus{
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.plus{
width: 10px;
height: 10px;
clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
transform: rotate(45deg);
background-color: #2667B2;
}
.minus{
    width: 10px;
    height: 2px;
    background-color: #2667B2;
}
.incart__button-img {

}
.cart-plus {

}
.to-cart__text-delivery::before {
content: "";
width: 22px;
height: 13px;
background: url("../img/truck.svg") center no-repeat;
margin-right: 10px;
display: inline-block;
}
.to-cart__text-kashback {
color: #2667B2;
}
.to-cart__text-kashback::before{
    content: "";
    background: url("../img/tm.svg") center no-repeat;
    margin-right: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
}
.shop__conditions {
    width: 24.3%;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.conditions {

}
.shop__conditions-title {
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 0px;
}
.shop__conditions-text {
margin-bottom: 5px;
margin-top: 7px;
}
.shop__conditions-line {
margin-top: 27px;
}

.articule {
margin-top: 15px;
}
.articule__title {
    font-weight: 600;
    margin-bottom: 6px;
}
.articule__text {
margin-top: 5px;
}
.monofacturer {
margin-top: 15px;
}
.monofacturer__title {
    font-weight: 600;
    margin-bottom: 6px;
    color: #2667B2;
    width: 100%;
    margin-top: 5px;
}
.technical {
margin-top: 0px;
margin-bottom: 6px;
display: flex;
flex-wrap: wrap;
}
.technical__title{
    font-weight: 600;
    margin-top: 21px;
    margin-bottom: 10px;
    width: 100%;
}
.technical__img {
background: url("../img/pdf.svg") center no-repeat;
width: 20px;
height: 20px;
margin: 10px 20px 0 15px ;
}
.technical__text {
    margin-top: 5px;
width: 40%;
    span{
        color: #919396;
    }
}
.technical__link {
width: 90%;
text-decoration: none;
color: #2667B2;
display: flex;
align-items: center;
}
.technical__link::after{
    content: "";
    background: url("../img/arrow__down-blue.svg");
    width: 7px;
    height: 12px;
    display: inline-block;
    margin-left: 10px;
    }
    .freedelivery {
font-size: 14px;
font-weight: 400;
line-height: 18px;
position: absolute;
        width: 360px;
        height: 120px;
        background: url("../img/freedelivery-back.svg") center no-repeat;
    top: 900px;
    right: 100px;
    padding: 22px 90px 10px 25px;
    display: none;
    &.active{
        display: block;
    }
    }
    .freedelivery__title {
        font-weight: 600;
    }
    .freedelivery__text {

    }
    .freedelivery__link {
        text-decoration: none;
        color: #2667B2;
        
    }
    .freedelivery__link::after{
        content: "";
        background: url("../img/arrow__right-blue.svg") center no-repeat;
        width: 20px;
        height: 7px;
        display: inline-block;
    }
    .inform {
display: flex;
width: 58%;
margin-top: 55px;
    }
    .inform__img {
background: url("../img/inform.svg") center no-repeat;
width: 35px;
height: 35px;
margin-right: 20px;

    }
    .inform__text-box{
        display: flex;
        width: 90%;
        flex-wrap: wrap;
    }
    .inform__text {
        margin-top: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;        
        margin-bottom: 7px;
        span{
            font-weight: 600;
        }
    }
    .inform__cards{
        background: url("../img/cards.svg") center no-repeat;
width: 102px;
height: 15px;

    }
    .parameters {
margin-top: 90px;
    }
    .parameters__title {
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
    }
    .parameters__subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    .parameters__box{
width: 66%;
margin-top: 50px;
    }
    .parameters__list {
display: flex;
justify-content: space-between;
position: relative;
border-bottom: #E2E2E2;
    }
    .parameters__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #5D5D62;
        margin-bottom: 18px;
        margin-top: 0px;
    }
    .parameters__value {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #2c2c2c;
        margin: 0;
    }
    /* Style for the checkbox container */
.checkbox-container {
    display: inline-block;
    position: relative;
    margin-left: 30px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}
/* Hide the default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Custom checkmark */
.checkmark {
    position: absolute;
    top: -10px;
    left: -15px;
    height: 20px;
    width: 20px;
    background-color: #f5f5f5; /* Light gray */
    border: 2px solid #ddd;
    border-radius: 6px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #fff;
    border-color: #ddd;
}

/* The checkmark (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Checkmark style */
.checkbox-container .checkmark:after {
    width: 11px;
    height: 9px;
    background: url("../img/tick__blue.svg") center no-repeat;
    right: 5px;
    top: 5px;
}
.product__dots-main{
    width: 50px;
    justify-content: space-between;
    display: none;
    margin: 0 auto;
    margin-bottom: 40px;
}
.parameters__value-box{
    display: flex;
}
    .select {
        background: url("../img/select-back.svg") center no-repeat;
        width: 178px;
        height: 90px;
        position: absolute;
        display: none;
        right: -220px;
    top: -35px;
        &.active{
            display: block;
        }
    }
    .select__button {
        width: 130px;
        height: 35px;
        border-radius: 6px;
        padding: 6px 27px;
        border: none;
    background-color: #2667B2;
    color: white;
    }
    .select__text{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 5px;
        span{
            font-weight: 700;
}
    }
    .computers {
        &.single{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
        }
    }
    .computers__title {
        font-size: 36px;
        font-weight: 600;
        line-height: 30px;
        width: 100%;
        span{
            color: #B3B3B7;
        }
    }
    .computers__item {
display: flex;
flex-wrap: wrap;
width: 33%;
    }
.computers__button{
    width: 180px;
    height: 30px;
    border: #919396 solid 2px;
    border-radius: 6px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .computers__subtitle {
        width: 100%;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
color: #2667B2;
    }
    .computers__img {
width: 90px;
height: 68px;
&.img-36{
    background: url("../img/img-36.png") center no-repeat;
}
&.img-37{
    background: url("../img/img-37.png") center no-repeat;
}
&.img-38{
    background: url("../img/img-38.png") center no-repeat;
}
    }
    .computers__text-box {
        margin-left: 10px;
    }
    .computers__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 18.2px;    
        margin-top: 0px;
        span{
            color: #B3B3B7;
        }
    }
    .computers__link {
color: #2962FF;
text-decoration: none;
    }
    .computers__link::after{
content: "";
background: url("../img/arrow__down-blue.svg") center no-repeat;    
width: 8px;
height: 13px;
display: inline-block;
margin-left: 10px;
}
.productdata {
display: flex;
flex-wrap: wrap;
}
.productdata__item {
width: 20%;
display: flex;
flex-direction: column;
position: relative;
height: 230px;
margin-top: 20px;
border-radius: 6px;
outline: #E2E2E2 solid 1px;
}
.productdata__item:hover{
    outline: #2962FF  solid 1px;
}
.productdata__item:hover .productdata__button{
    display: block;
} 
.productdata__box{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.productdata__list {
    display: flex;
    width: 100%;
    align-items: center;
}
.productdata-checkbox-container {
}
.checkbox-container {
}
.productdata-checkmark {
    &.checkmark {
        margin-top: 0px;
        margin-left: 15px;
    }
}
.productdata__arrow-mobile{
    width: 15px;
    height: 9px;
    background: url("../img/arrow__top-blue.svg") center no-repeat;
    transition: 0.3s;
    margin-left: 10px;
    &.active{
transform: rotate(180deg);
    }
}
.checkmark {
}
.productdata__title {
font-size: 16px;
font-weight: 400;
line-height: 30px;
margin-left: 40px;
margin-top: 10px;
    margin-bottom: 10px;
span{
    color: #5D5D62;
}
}
.productdata__button {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 16px;
    top: 22px;
    border: none;
    border-radius: 50%;
    display: none;
}
.cross__circle {
    background: url("../img/cross-circle.svg") center no-repeat;
}
.productdata__input {
width: 64%;
margin-left: 65px;
border: none;
border-bottom: #B3B3B7;
background: transparent;
}
.productdata__search {
background: url("../img/search.svg") center no-repeat;
width: 14px;
height: 14px;
margin-left: -25px;
}
.productdata__input-box{
    display: flex;
    margin-top: 15px;
}
.filter-box {
    background-color: #F5F5F7;
    outline: #E2E2E2;
    display: flex;
    align-items: center;
    padding: 36px 0px;
    width: 100%;
    flex-wrap: wrap;
}
.filters__unfold {
color: #2667B2;
font-size: 16px;
font-weight: 400;
line-height: 18px;
margin-left: 43.77%;
}
.filters__unfold::after{
    background: url("../../img/arrow__down-blue.svg");
    margin-left: 10px;
}
.available {
display: flex;
align-items: center;
margin-left: 40px;
}
.checkbox-container {

}
.checkmark {

}
.checkmark-filter{
    top: -10px;
    left: -30px;
}
.available__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px; 

}
.filters__unfold-show {
    width: 210px;
    height: 50px;
    border-radius: 6px;
    background-color: #2667B2;
    margin-left: 20px;
    color: #ffffff;
    border: none;
}
.filters__unfold-clean {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 20px;
    border: none;
}
.tags-box {
display: flex;
flex-wrap: wrap;
align-items: center;
}
.tag__item {
    display: flex;
    padding: 10px 16px;
    outline: #B3B3B7 solid 1px;
    border-radius: 6px;
    margin: 5px;
    align-items: center;
}
.tag__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 12px;
    margin: 0;
}
.cross-gray {
cursor: pointer;
border: none;
background: url("../img/cross-gray.svg") center no-repeat;
width: 18px;
height: 18px;
}
.cross-gray:hover{
    background: url("../img/cross-black.svg") center no-repeat;
}
.filter-menu {
display: flex;
justify-content: space-between;
}
.filter-menu__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;    
}
.price-down::after{
    content: "";
background: url("../img/price-down.svg") center no-repeat;
width: 18px;
height: 15.3px;
display: inline-block;
margin-left: 10px;
}
.price-down:hover .price-down::after{
    content: "";
background: url("../img/price-down-black.svg") center no-repeat;
width: 18px;
height: 15.3px;
display: inline-block;
}
.price-up::after{
    content: "";
    background: url("../img/price-up.svg") center no-repeat;
        width: 18px;
        height: 15.3px;
        display: inline-block;
        margin-left: 10px;
}
.price-up:hover .price-up::after{
    content: "";
    background: url("../img/price-up-black.svg") center no-repeat;
        width: 18px;
        height: 15.3px;
        display: inline-block;
}
.filter-menu__text-box {
display: flex;
justify-content: space-between;
width: 50%;
align-items: center;
}
.filter-menu__img-box {
display: flex;
justify-content: space-between;
align-items: center;
width: 4%;
}
.filter-menu__img {
width: 18px;
height: 18px;
}
.filter-menu__img-1 {
background: url("../img/filter-menu__img-1.svg") center no-repeat;
}
.filter-menu__img-1:hover{
    background: url("../img/filter-menu__img-1-black.svg") center no-repeat;
}
.filter-menu__img-2 {
    background: url("../img/filter-menu__img-2.png") center no-repeat;
}
.filter-menu__img-2:hover{
    background: url("../img/filter-menu__img-2-black.svg") center no-repeat;
}
.monoplate__content{
    justify-content: space-between;
}
.product-text-available-green {
color: #479B30;
font-size: 12px;
font-weight: 400;
line-height: 18px;

}
.product-text-available-green::before {
    background: url("../img/tick.svg") center no-repeat;
    margin-right: 5px;
    width: 10px;
    height: 7px;
}
.product-text-available{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.product-text-available::before {
    content: "";
    background: url("../img/truck.svg") center no-repeat;
    margin-right: 8px;
    width: 17px;
    height: 10px;
}
.monoplate__button-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96.2%;
}
.to-cart__input-box-plate {
width: 45.7%;
}
.to-cart-minus {
}
.to-cart-minus-plate {

}
.minus {

}
.minus-plate {

}
.to-cart__input {

}
.to-cart__input-plate {
width: 50%;
}
.plus {

}
.plus-plate {

}

.monoplate__incart-button {
width: 50.8%;
padding: 11px 14px 11px 21px;
font-size: 14px;
font-weight: 400;
line-height: 18px;
}
.monoplate-price {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    span{
        color: #B3B3B7;
    }
}
.pages {
    width: 56.3%;
    display: flex;
    justify-content: space-between;
}
.pages__select {
    display: flex;
}
.button-left-pages {
margin-right: 15px;
}
.pages-previous-button {

}
.pages__list {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}
.pages__button-list {
    border-radius: 50%;
    background-color: #f5f5f5;
font-size: 16px;
font-weight: 400;
line-height: 30px;
border: 0;
}
.button-right-pages {

}
.pages-next-button {

}
.button-next-pages {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
        color: #2667B2;
}
.pages__show {
    height: 30px;
   padding: 5px 14px;
    border-radius: 7px;
    border: #2667B2 1px solid;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
        color: #2667B2;
}
.tohether {
display: flex;
align-items: center;
}
.tohether__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    width: 18.5%;
    min-width: 242px;
}
.tohether-tags-box {

}

.tohether-tag__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    cursor: pointer;
    color: #B3B3B7;
    padding: 6px 12px;
    border-radius: 6px;
    border: solid 2px #DFDFE1;
}
.popularbrand {
    display: flex;
}
.popularbrand__button-left {

}
.popularbrand-tags-box {
    display: flex;
    justify-content: space-between;
    width: 140%;
    flex-wrap: nowrap;
}
.popularbrand__show {
width: 80%;
overflow: scroll;
}
.popularbrand__scroll {

}
.tags-box {

}
.tag__item {

}
.popularbrand-tag__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    cursor: pointer;
    color: #B3B3B7;
    padding: 6px 12px;
    border-radius: 6px;
    border: solid 2px #DFDFE1;
}
.popularbrand__box{
    display: flex;
    align-items: center;
}
.popularbrand-tag__text {

}
.button-right {
    
}

.popularbrand__button-right {

}
.description-monoplate {

}
.description-monoplate__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;

}
.description-monoplate__text {
font-size: 14px;
font-weight: 400;
line-height: 22.4px;
}
.description-monoplate__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #2667B2;
    border-bottom: dotted #2667B2;
    text-decoration: none;
}
.description-monoplate__link::after {
content: "";
background: url("../img/arrow__right-blue.svg") center no-repeat;
 width: 20px;
 height: 7px;
 margin-left: 10px;
 display: inline-block;
}
.filters__unfold-hide {
width: 100%;
max-width: 400px;
display: none;
align-items: center;
justify-content: space-between;
padding: 16px 65px;
border-radius: 6px;
border: #2667B2 2px solid;
margin: 0 auto 40px;
}
.unfold__img {
background: url("../img/sheme.svg") center no-repeat;
width: 20px;
height: 20px;
}
.unfold__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #2962FF;
}
.unfold__arrow {
background: url("../img/arrow__top-blue.svg") center no-repeat;
width: 15px;
height: 9px;
}
.monoplate__box{
    min-width: 300px;

} 
@media(max-width:1485px){
    .shop__img-main{
        background-size: contain;
    }
    .incart__button.to-cart{
        padding: 14px 15px;
    }
    .cart-plus{
        display: none;
    }
}
@media(max-width:1400px){
    .product__box-mob{
        overflow-x: scroll;
        
    }
    .product__button{
        display: none;
    }
   
}

@media(max-width:1024px){
    .container{
        width: 90%;
    }
    .product__article-box{
        align-items: center;
        justify-content: space-between;
    }
    .discount__title{
        padding: 30px 0 260px;
        text-align: center;
        font-size: 37px;
        font-weight: 700;
        line-height: 47px;
    }
    .discount__button__box{
        margin: 0 auto;
        left: 50%;
        transform: translate(-50%);
    }
    .electronic__item{
        width: 43%;
    }
    .electronic__box{
        justify-content: space-around;
    }
    .product-price__box{
        display: flex;
        flex-direction: column;
    }
    .product-discount{
        order: -1;
    }
    .product{
        flex-wrap: wrap;
        justify-content: center;
    }
    .product-article{
        width: 100%;
    }
    .product__article-box{
        width: 100%;
    }

    .recent__button__box{
        display: none;
    }
    .product-img{
        width: 150px;
        height: 115px;
    }
    .product-box{
        width: 125px;
    }
    .shop__product{
        flex-wrap: wrap;
        justify-content: center;
    }
    .shop__data{
        margin-right: 30%;
    }
    .shop__imgbox{
width: 100%;
margin-bottom: 70px;
    }
    .imgline__item{
        background-size: contain;
    }
    .inform{
        width: 90%;
    }
    .nav__path{
        overflow-x: scroll;
    }
    .breadcrumb{
        white-space: pre;
    }
    .breadcrumb__gray{
        
    }
    .computers__img.img-36{
        display: none;
    }
    .computers__img.img-37{
        display: none;
    }
    .computers__img.img-38{
        display: none;
    }
    .computers__text-box{
        display: none;
    }
    .computers__item{
        width: 100%;
    }
    .computers__button{
        width: 100%;
    }
    .productdata__item{
        width: 100%;
        max-height: 40px;
        display: -webkit-box;
        transition: 0.3s;
        outline: #E2E2E2 solid 1px;
        margin-top: 0px;
        &.active{
            max-height: 230px;
            display: flex;
        }
    }
    .productdata__item:hover .productdata__button{
        display: none;
    } 
    .filters__unfold{
        margin-left: 0px;
    }
    .filter-box{
        flex-direction: column;
        height: 220px;
        justify-content: space-between;
    }
    .filters__unfold-show{
        order: 1;
    }
    .filters__unfold-hide{
display: flex;
    }
    .tag__text{
font-size: 14px;
font-weight: 400;
line-height: 22px;
margin-right: 10px;
    }
    .filter-menu__text{

    }
    .filter-menu__text-box{
        flex-wrap: wrap;
    }
    .filter-menu__img-box{
        display: none;
    }
    .monoplate__box{
        height: 450px;
    }
}
@media(max-width:768px){
    .discount{
        background: url("../img/fall-mob.png") center no-repeat;
background-size: cover;
    }
    .electronic__img{
        width: 56px;
        height: 42px;
        margin: 18px 0 0 0;
        background-size: contain;
    }
    .electronic__text{
        font-size: 12px;
        margin: auto;
    }
    .electronic__box{
        margin-top: 25px;
    }
    .intro__title{
        font-size: 24px;
    }
    .intro__content{
        font-size: 24px;
        width: 1100px;
    }
    .electronic__item{
        margin-top: 0px;

    }
    .electronic__item{
        height: 95px;
    }
    .product__dots-main{
        display: flex;
    
    }
    .product-article{
        margin: 0;
font-size: 24px;
font-weight: 400;
line-height: 31.2px;
    }
    .br-mob{
        display: none;
    }
    .product__box-mob{
        width: 100%;
    }
    .electronic{
        margin-bottom: 35px;
    } 
    .product__button-left{
        display: none;
    }
    .product__button-right{
        display: none;
    }
    .product-box{
        padding: 0;
        width: 175px;
    }
    .product-discount{
        margin: 0;
    }
    .product-price__box{
        margin: auto 0;
    }
    .product__content {
        width: 220%;
        justify-content: space-between;
    }
    .product-text{
        overflow: hidden;
        display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      line-clamp: 4;
font-size: 13px;
font-weight: 400;
line-height: 21px;        
letter-spacing: 1.2px;
margin-bottom: 0;
        margin-top: 0;
        
    }
    .product-box{
        height: 315px;
        display: flex;
        flex-direction: column;

    }
    .product__dots{
        display: none;
    }
    .product-img{
        margin: 20px 0 25px;
    }
    .product__box-mob{
        margin-top: 18px;
        overflow-y: hidden;
    }
    .product-firm{
        margin-top: 0px;
    }
    .product-price{
        margin: auto 0;
    }
    .product-article{
        width: 80%;
    }
    .product__link-mob{
        display: block;

    }
    .product__link {
        display: none;}
        .recent{
            padding-top: 135px;
        }
        .best{
            padding-top: 120px;
        }
        .brand__link{
            display: none;
        }
        .brand{
            padding-top: 80px
        };
        .brand__content{
            margin-top: -35px;
        } 
        .brand__box{
            margin-right: 40px;
            height: auto;
        } 
        .news{
            padding-top: 20px;
        }
        .news__link{
            display: none;
        }
        .news__content{
            width: 360%;
        } 
        .news__box{
            width: 22.2%;
            height: 226px;  
        } 
        .news__article-product{
font-size: 18px;
font-weight: 600;
line-height: 27px;
margin-top: 10px;
margin-bottom: 10px;
        }
        .news__text{
            margin-top: auto;
            margin-bottom: 0px;
font-size: 14px;
font-weight: 400;
line-height: 22.4px;
letter-spacing: 1.3px;
        }
        .intro{
            padding-left: 0;
            padding-top: 55px;
        }
        .intro__title{
font-size: 24px;
font-weight: 600;
line-height: 33.6px;
letter-spacing: 0.7px;
        }
        .intro__title {
        margin-bottom: 35px;
        }
        .intro__content-item{
            font-size: 24px;
            font-weight: 400;
            line-height: 33.6px;
            letter-spacing: 2px;
        }
        .intro__content-item span {
            font-size: 44px;
        }
        .intro__text-bottom{
            margin-top: 5px;
            margin-left: 5px;
        }
        .intro__text-bottom{
            .arrow{margin-left: 15px;

            }
        }
        .intro__text{
font-size: 14px;
font-weight: 400;
line-height: 22.4px;
margin-top: 0px;
letter-spacing: 0.8px;
        } 
        .intro__button-more{
            margin-top: -10px;
        }
        .benefits{
            padding-top: 150px;
        }
        .benefits__content{
            width: 227%;
        }
        .benefits__box{
            width: 142px;
            height: 154px;
        }
        
        .benefits__text{
font-size: 14px;
font-weight: 500;
line-height: 22.4px;
letter-spacing: 1.2px;
        }
        .delivery-box{
            flex-shrink: 0;
width: 142px;
height: auto;
        }
        .quality-box{
            width: 142px;
            flex-shrink: 0;
            height: auto;
        }
        .monofacturers-box{
            width: 142px;
            flex-shrink: 0;
            height: auto;
        }
        .cooperation-box{
            width: 142px;
            flex-shrink: 0;
            height: auto;
        }
        .order-box {
        width: 142px;
        flex-shrink: 0;
        height: auto;
        }
        .img-22{
       
        }
        .img-23{
            background-size: auto;
        }
        .img-24{
            background-size: auto;
        }
        .img-25{
            background-size: auto;
        }
        .img-26{
            background-size: auto;
        }
        .footer{
            padding-top: 120px;
        }
        .icon-logo-footer {
        margin-top: 25px;}
        .feedback{
            margin-bottom: 45px;
        }
        .shop__img-main{
            margin-bottom: 20px;
        }
        .imgline{
            display: none;
        }
        .shop__data{
            width: 100%;
            margin: 0 auto;
        }
        .shop__conditions{
            width: 100%;
        }
        .inform__cards{
            display: none;
        }
        .parameters__list{
            flex-wrap: wrap;
        }
        .parameters__value-box{
            justify-content: space-between;
            width: 100%;
        }
        .parameters__text{
            width: 100%;
        }
        .checkbox-container{
            margin-top: -10px;
            margin-left: 10px;
        }
        .breadcrumb{
            margin-top: 0px;
        }
        .shop__title{
            margin-top: 20px;
font-size: 24px;
font-weight: 400;
line-height: 30px;
        }
        .shop__img-main{
            margin-top: -30px;
        }
        .shop__imgbox:hover{ 
            .product__flags{
                right: 10px;
                top: 30px;
            }
        } 
        .shop__imgbox{
            margin-top: -40px;
            margin-bottom: 0px;
        } 
        .product__dots-main{
            margin-top: -55px;
        }
        .presence{
            margin-bottom: 10px;
        }
        .table-header{
            &.right{
                text-align: right;
            }
        }
        .table-cell{
            &.bold{
                margin-left: 25px;
            }
        }
        .shop__conditions {
            margin-top: 30px;
        }
        .articule__title{
            margin-top: 0px;
        }
        .articule{
            margin-top: 10px;
        }
        .monoplate__box{
            height: 450px;
        }
        .pages-previous-button{

        }
        .button-left-pages{

        }
        .pages__list{

        }
        .button-next-pages{

        }
        .button-right{

        }
        .pages__show{
            order: -1;
            margin: 0 auto 30px;
        }
        .pages{
            flex-wrap: wrap;
          margin-bottom: 40px;
        }
        .pages__select{
            width: 100%;
            justify-content: center;
        }
        .tohether{
            flex-wrap: wrap;

        }
        .tohether__title{
            width: 100%;
        }
        .popularbrand{
            flex-wrap: wrap;
        }
        .button-left{
            display: none;
        }
        .popularbrand-tag__item{
            white-space: nowrap;
        }
}
@media(max-width:425px){
    .discount__title{
        padding: 0px 0 190px;
    }
    .discount{
        margin-bottom: 30px;
    }
    .main{
        margin-top: 45px;
    }
    .electronic__title{
        font-size: 24px;
        font-weight: 500;
        line-height: 31.2px;
        margin-bottom: 20px;
    }
    .electronic__title::after{
        margin-left: 30px;
    }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }